<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
    <!--<link href="styles.css" rel="stylesheet" />-->
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Work_Order</th>
                    <th>Sale_Order</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{$index+1}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.wo}}</td>
                    <td>{{order.so}}</td>
                    <td>{{order.timestamp}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers">
                    <td>{{$index+1}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.status}}</td>
                    <td>{{customer.timestamp}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <!--{{custs}}-->
        <br/>
        <h3>Mutants and Marvel Heroes</h3>
        <br/>
        <br/>
        {{mutants}}
        <br/>
        <br/>
        <table border="1" style="color:#166CD7">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Skill</th>
                    <th>Appear</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="marvel in marvels">
                    <td>{{$index+1}}</td>
                    <td>{{marvel.name}}</td>
                    <td>{{marvel.attribute}}</td>
                    <td>{{marvel.present}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>